<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
      <div id="wrapper">
        <p class="center">
          <span class=logo></span>
        </p>
        <div class="mainView">
          <p>
            <span data-translate="NOTIF-UPDATE_PASSWORD_PROMPT"></span>
          </p>
          <p class="usernamePreview">
            <input id="usernamePreview" type="text" class="websiteIcon" readonly value="aaa"/>
            <button id="edit" class="link"></button>
          </p>
          <p class="center"><button id="block" class="link" data-translate="SPDH-DISABLE_PRODUCT_ON_THE_ENTIRE_WEBSITE"></button><p>
        </div>
        <div class="editView">
          <p id="usernameEdit">
            <input type="text" id="usernameTextbox" class="websiteIcon" />
          </p>
          <p id="passwordEdit">
            <input type="password" id="passwordTextbox" /><button id="showPassword" class="eye closed"></button>
          </p>
          <p id="favoriteEdit">
            <label for="favoriteCheckbox" class="alignVertical"><input type="checkbox" id="favoriteCheckbox" /><span class="tick"><span></span></span><span data-translate="FAVORITE_ACCOUNT"></span><label>
          </p>
        </div>
        <div class="spacer"></div>
        <button id="close"></button>
        <p class="center">
          <button class="btn" data-translate="NOTIF-NOT_NOW" id="notNow"></button>
          <button class="btn primary" data-translate="UPDATE" id="ok"></button>
        </p>
        <p class="center"><button id="report" class="link" data-translate="REPORT_ISSUE"></button></p>
        <link rel="stylesheet" type="text/css" href="../assets/notifications/update_password_prompt.css">
        <script src="../../forge/forge.js"></script>
        <script src="../assets/notifications/update_password_prompt.js"></script>
      </div>
    </body>
</html>
